<ul class="navigation-list">
  <li class="navigation-item">
    <a i18n routerLinkActive="active" (click)="handleNavigation()" routerLink="/home">home</a>
  </li>
  <li class="navigation-item">
    <a i18n routerLinkActive="active" (click)="handleNavigation()" routerLink="/clinics" >clinic</a>
  </li>
  <li class="navigation-item">
    <a i18n routerLinkActive="active" (click)="handleNavigation()" routerLink="/insurances">insurance</a>
  </li>
  <li class="navigation-item">
    <a i18n routerLinkActive="active" (click)="handleNavigation()" routerLink="/about-us">about us</a>
  </li>
  <li class="navigation-item">
    <a i18n routerLinkActive="active" (click)="handleNavigation()" routerLink="/contact-us">contact us</a>
  </li>
</ul>
