.arch {
  overflow: hidden;
  background-color: var(--main-darker-background);
  margin-bottom: 5rem;
}

.arch::before {
  content: "";
  position: absolute;
  background-color: var(--main-darker-background);
  top: 0rem;
  padding-top: 5.75rem;
  width: 100%;
  z-index: 1;
}

.arch::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--primary-color);
  width: min(72rem, 100%);
  top: 0rem;
  right: 50%;
  transform: translateX(50%);
  border-radius: 50% 50% 50% 50% / 25% 25% 75% 75%;
  height: 20rem;
  z-index: 0;
}

.arch-content {
  margin-top: 7.75rem;
  position: absolute;
  gap: 1rem;
  z-index: 1;
  right: 50%;
  transform: translateX(50%);
  width: min(80%, 48rem);
}
