:host {
  position: relative;
}

.input {
  display: block;
  min-width: 12rem;
  background-color: var(--main-background);
  border: 1px solid transparent;
  filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.16));
  border-radius: 0.25rem;
}

.input.lg {
  min-width: 24rem;
}

.input.full {
  width: 100%;
}

.input.rounded {
  border: 1px solid var(--primary-color);
  border-radius: 99rem;
  padding: 1rem 3rem;
}
.input:not(.rounded){
  padding: 1rem 1rem;
}
