<app-arch>
  <div class="search">
    <input
      class="search-input"
      placeholder="Search by clinic name/insurance ..."
      type="text"
      i18n-placeholder
    />
    <div class="search-icons">
      <button class="search-submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="search-icon"
          viewBox="1.2 1.2 29.05 29.083"
        >
          <g data-name="search-normal">
            <path
              fill="transparent"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M26.212 14.417c0 6.514-5.281 11.795-11.795 11.795-6.515 0-11.796-5.281-11.796-11.795 0-6.515 5.281-11.796 11.796-11.796 6.514 0 11.795 5.281 11.795 11.796ZM24.81 27.116c.694 2.097 2.28 2.307 3.499.472 1.114-1.678.38-3.054-1.638-3.054-1.495-.013-2.333 1.153-1.861 2.582Z"
              data-name="Vector"
            />
          </g>
        </svg>
      </button>
    </div>
  </div>
  <button class="category-select" i18n>Categories</button>
</app-arch>
<div class="clinics-grid">
  <app-clinic-card
    *ngFor="let clinic of clinics"
    [clinic]="clinic"
  ></app-clinic-card>
</div>
