<div class="padded-content">
  <div class="clinic-grid">
    <div class="img-container">
      <img [src]="clinic.imagePath" class="clinic-img" alt="" />
      <app-button
        class="appointment-request"
        [fullWidth]="true"
        [rounded]="false"
        i18n
        (click)="requestAnAppointment()"
        >Request an Appointment</app-button
      >
    </div>
    <div class="clinic-info">
      <div class="header">
        <h2 class="clinic-name">
          <svg
            class="crown"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="168.467 382.817 43.05 42.85"
          >
            <g>
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M200.833 425.667h-21.666a1.637 1.637 0 0 1-1.625-1.625c0-.889.736-1.625 1.625-1.625h21.666c.889 0 1.625.736 1.625 1.625 0 .888-.736 1.625-1.625 1.625Zm7.259-35.707-8.667 6.197c-1.148.823-2.795.325-3.293-.997l-4.095-10.92c-.694-1.885-3.359-1.885-4.052 0l-4.117 10.898c-.498 1.344-2.123 1.842-3.271.997l-8.667-6.197c-1.733-1.213-4.03.499-3.315 2.514l9.013 25.241a2.15 2.15 0 0 0 2.037 1.43h20.648a2.18 2.18 0 0 0 2.037-1.43l9.013-25.241c.737-2.015-1.56-3.727-3.271-2.492Zm-12.675 19.998h-10.834a1.637 1.637 0 0 1-1.625-1.625c0-.888.737-1.625 1.625-1.625h10.834c.888 0 1.625.737 1.625 1.625 0 .889-.737 1.625-1.625 1.625Z"
                data-name="Vector"
              />
            </g></svg
          >{{ clinic.name }}
        </h2>
        <star-rating
          size="large"
          staticColor="ok"
          [showHalfStars]="true"
          [readOnly]="true"
          [rating]="clinic.rate ?? 0"
        ></star-rating>
        <h4 class="clinic-phone">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox=".783 .783 20.65 20.683"
            class="call-icon"
          >
            <g data-name="call">
              <path
                fill="transparent"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M20.35 16.978c0 .334-.074.676-.232 1.01a3.822 3.822 0 0 1-.63.945c-.454.5-.954.86-1.519 1.093a4.651 4.651 0 0 1-1.806.351c-.945 0-1.954-.222-3.02-.676a16.269 16.269 0 0 1-3.186-1.834 26.63 26.63 0 0 1-3.038-2.593 26.318 26.318 0 0 1-2.584-3.029c-.76-1.056-1.371-2.112-1.816-3.158-.444-1.056-.667-2.066-.667-3.03 0-.63.112-1.231.334-1.787A4.263 4.263 0 0 1 3.25 2.723c.593-.583 1.241-.87 1.927-.87.26 0 .518.055.75.166.24.111.454.278.62.519l2.15 3.029c.166.231.287.444.37.648.083.195.13.39.13.565 0 .222-.065.445-.195.658a3.15 3.15 0 0 1-.519.657l-.704.732a.496.496 0 0 0-.148.37c0 .075.01.14.028.214.028.074.056.13.074.185.167.306.454.704.862 1.186.416.481.861.972 1.343 1.463.5.49.981.945 1.472 1.362.482.407.88.685 1.195.852.047.018.102.046.167.074a.64.64 0 0 0 .232.037.51.51 0 0 0 .38-.158l.703-.694c.232-.232.454-.408.667-.519.213-.13.426-.194.658-.194.176 0 .361.037.565.12.204.083.417.204.648.361l3.066 2.177c.24.167.408.361.51.593a1.9 1.9 0 0 1 .148.722Z"
                data-name="Vector"
              />
            </g></svg
          >{{ clinic.phoneNumber }}
        </h4>
      </div>
      <p class="clinic-description">{{ clinic.description }}</p>
      <mat-tab-group dynamicHeight class="primary-tabs">
        <mat-tab label="Location" i18n-label>
          <div class="locations-grid">
            <div
              *ngFor="let location of locations"
              class="location-card-container"
            >
              <h3 class="location-name">{{ location.name }}</h3>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Services" i18n-label>
          <div class="services-grid">
            <app-service-card
              *ngFor="let service of services"
              [service]="service"
            ></app-service-card>
          </div>
        </mat-tab>
        <mat-tab label="Insurances" i18n-label>
          <div class="insurances-grid">
            <app-insurance-card
              *ngFor="let insurance of insurances"
              [insurance]="insurance"
            ></app-insurance-card>
          </div>
        </mat-tab>
        <mat-tab label="Providers" i18n-label>
          <div class="providers-grid">
            <app-provider-card
              *ngFor="let provider of clinic.doctors"
              [provider]="provider"
            ></app-provider-card>
          </div>
          <!-- <mat-tab-group dynamicHeight class="secondary-tabs">
            <mat-tab label="All"
              >
            </mat-tab>
            <mat-tab label="Dr"></mat-tab>
            <mat-tab label="NPA"></mat-tab>
            <mat-tab label="NPF"></mat-tab>
          </mat-tab-group> -->
        </mat-tab>
        <mat-tab label="Reviews" i18n-label>
          <form class="review" [formGroup]="reviewFormGroup" (ngSubmit)="submitReview()">
            <div class="rating-input">
              <textarea
                class="rating-textarea"
                placeholder="Write a review"
                rows="4"
                cols="40"
                formControlName="content"
              ></textarea>
              <app-button class="review-submit" [rounded]="false" type="submit">Submit</app-button>
            </div>
            <star-rating-control
              size="large"
              staticColor="ok"
              [rating]="0"
              [hoverEnabled]="true"
              formControlName="rate"
            ></star-rating-control>
          </form>
          <div class="reviews-container">
            <app-review-card
              *ngFor="let review of reviews"
              [review]="review"
            ></app-review-card>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
