:host {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  border: solid 2px var(--primary-color);
  border-radius: 0.25rem;
  text-transform: capitalize;
  white-space: nowrap;
}
.button.rounded {
  border-radius: 99rem;
}

.button.full-width {
  width: 100%;
}

.button.transparent {
  padding: 1rem 2.5rem;
  color: var(--primary-color);
}

.button.primary {
  background-color: var(--primary-color);
  padding: 1rem 2.5rem;
  color: var(--primary-content);
}

.button.secondary {
  background-color: var(--main-background);
  padding: 0.5rem 2.5rem;
  color: var(--primary-color);
}

.button.icon-button {
  background-color: var(--primary-color);
  padding: 1rem;
  color: #fff;
}
