.main-navigation {
  display: flex;
  width: 100%;
  position: fixed;
  top: 4.5rem;
  left: 0;
  z-index: 50;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  align-items: center;
  text-transform: capitalize;
  transition: top 200ms ease-out, background-color 400ms ease-in-out,
    color 400ms ease-in-out;
  backdrop-filter: blur(0.25rem) brightness(105%);
}

.logo {
  display: flex;
  align-items: center;
  min-width: 6rem;
}

.navigation-container {
  width: 90rem;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.navigation-content {
  font-size: 1.25rem;
  display: flex;
}

.navigation-list {
  display: none;
  list-style: none;
}

.navigation-item {
  font-weight: 400;
  padding: 2rem;
  white-space: nowrap;
  position: relative;
}

.navigation-actions {
  display: flex;
  align-items: center;
}

.authentication-container {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  display: none;
  gap: 0.5rem;
  align-items: center;
}

.hamburger {
  display: flex;
}

.navigation-item > *:after {
  content: "";
  opacity: 0;
  background-color: var(--primary-color);
  height: 0.25rem;
  position: absolute;
  bottom: 25%;
  right: 50%;
  transform: translateX(50%);
  display: block;
  width: 2rem;
  border-radius: 90rem;
  transition: all 200ms ease-out;
}

.navigation-item:focus-within ::after {
  opacity: 0.3;
}

.navigation-item:hover ::after {
  opacity: 0.3;
}

.navigation-item .active::after {
  opacity: 1;
}

.sticky-nav {
  top: 0;
  background-color: #f5f5f5f5;
  color: #000;
}

.search-icon {
  width: 1.5rem;
}

.user-avatar img {
  aspect-ratio: 1 / 1;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 99rem;
  margin: 0;
  padding: 0;
  border: 1px solid var(--primary-color);
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--primary-darker-color);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: var(--primary-darker-color);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (min-width: 66rem) {
  .navigation-list {
    display: flex;
  }
  .authentication-container {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}
