<section id="categories" class="categories">
  <div class="background-container">
    <div class="categories-grid">
      <div class="paginator" *ngIf="categories.length > 4">
        <button
          class="pagination-button"
          (click)="prevIndex(categories.length)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="3.967 3.967 39.8 39.8"
          >
            <g data-name="arrow-circle-right">
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M23.865 3.978c10.958 0 19.887 8.93 19.887 19.888 0 10.959-8.93 19.888-19.887 19.888-10.958 0-19.887-8.93-19.887-19.888 0-10.958 8.93-19.888 19.887-19.888ZM18.316 24.92l7.02 7.02c.299.299.677.438 1.055.438.378 0 .755-.139 1.054-.437a1.5 1.5 0 0 0 0-2.108l-5.966-5.967 5.966-5.966a1.5 1.5 0 0 0 0-2.109 1.5 1.5 0 0 0-2.108 0l-7.02 7.02a1.465 1.465 0 0 0 0 2.11Z"
                data-name="Vector"
              />
            </g>
          </svg>
        </button>
        <button
          class="pagination-button"
          (click)="nextIndex(categories.length)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="3.967 3.967 39.8 39.8"
          >
            <g data-name="arrow-circle-right">
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M23.866 3.978c-10.958 0-19.888 8.93-19.888 19.888 0 10.959 8.93 19.888 19.888 19.888 10.959 0 19.888-8.93 19.888-19.888 0-10.958-8.93-19.888-19.888-19.888Zm5.549 20.942-7.02 7.02a1.475 1.475 0 0 1-1.055.438c-.378 0-.756-.139-1.054-.437a1.5 1.5 0 0 1 0-2.108l5.967-5.967-5.967-5.966a1.5 1.5 0 0 1 0-2.109 1.5 1.5 0 0 1 2.108 0l7.02 7.02a1.465 1.465 0 0 1 0 2.11Z"
              />
            </g>
          </svg>
        </button>
      </div>
      <app-category-card
        *ngFor="
          let category of paginatedCategories | slice : 0 : 8;
          let i = index
        "
        [ngClass]="{ selected: selectedCardIndex === i }"
        [category]="category"
        (click)="categoryClicked(category); selectedCardIndex = i"
      ></app-category-card>
    </div>
    <div class="search">
      <input
        class="search-input"
        (keyup)="searchInInsurance($event.target)"
        placeholder="Search insurances..."
        type="text"
        i18n-placeholder
        #insuraceSearchInput
      />
      <div class="search-icons" >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="search-icon"
          viewBox="1.2 1.2 29.05 29.083"
        >
          <g data-name="search-normal">
            <path
              fill="transparent"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M26.212 14.417c0 6.514-5.281 11.795-11.795 11.795-6.515 0-11.796-5.281-11.796-11.795 0-6.515 5.281-11.796 11.796-11.796 6.514 0 11.795 5.281 11.795 11.796ZM24.81 27.116c.694 2.097 2.28 2.307 3.499.472 1.114-1.678.38-3.054-1.638-3.054-1.495-.013-2.333 1.153-1.861 2.582Z"
              data-name="Vector"
            />
          </g>
        </svg>
        <button class="search-submit" (click)="openMapForSearch()" #mapIcon>
          <svg
            class="search-submit--icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="887.4 446.833 22.35 25.467"
          >
            <g>
              <g
                fill="transparent"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                data-name="location"
              >
                <path
                  d="M902.094 457.656a3.527 3.527 0 1 1-7.055 0 3.527 3.527 0 0 1 7.055 0Z"
                  data-name="Vector"
                />
                <path
                  d="M889.093 455.598c2.227-9.79 16.732-9.779 18.948.012 1.3 5.743-2.273 10.604-5.404 13.611a5.871 5.871 0 0 1-8.152 0c-3.12-3.007-6.693-7.88-5.392-13.623Z"
                  data-name="Vector"
                />
              </g>
            </g>
          </svg>
        </button>
      </div>
    </div>
    <div class="insurance-grid">
      <div class="paginator paginator1" *ngIf="insurances.length > 8">
        <button
          class="pagination-button"
          (click)="prevInsuranceIndex(insurances.length)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="3.967 3.967 39.8 39.8"
          >
            <g data-name="arrow-circle-right">
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M23.865 3.978c10.958 0 19.887 8.93 19.887 19.888 0 10.959-8.93 19.888-19.887 19.888-10.958 0-19.887-8.93-19.887-19.888 0-10.958 8.93-19.888 19.887-19.888ZM18.316 24.92l7.02 7.02c.299.299.677.438 1.055.438.378 0 .755-.139 1.054-.437a1.5 1.5 0 0 0 0-2.108l-5.966-5.967 5.966-5.966a1.5 1.5 0 0 0 0-2.109 1.5 1.5 0 0 0-2.108 0l-7.02 7.02a1.465 1.465 0 0 0 0 2.11Z"
                data-name="Vector"
              />
            </g>
          </svg>
        </button>
        <button
          class="pagination-button"
          (click)="nextInsuranceIndex(insurances.length)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="3.967 3.967 39.8 39.8"
          >
            <g data-name="arrow-circle-right">
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M23.866 3.978c-10.958 0-19.888 8.93-19.888 19.888 0 10.959 8.93 19.888 19.888 19.888 10.959 0 19.888-8.93 19.888-19.888 0-10.958-8.93-19.888-19.888-19.888Zm5.549 20.942-7.02 7.02a1.475 1.475 0 0 1-1.055.438c-.378 0-.756-.139-1.054-.437a1.5 1.5 0 0 1 0-2.108l5.967-5.967-5.967-5.966a1.5 1.5 0 0 1 0-2.109 1.5 1.5 0 0 1 2.108 0l7.02 7.02a1.465 1.465 0 0 1 0 2.11Z"
              />
            </g>
          </svg>
        </button>
      </div>
      <app-insurance-card
        *ngFor="
          let insurance of PaginatedInsurances | slice : 0 : 8;
          let j = index
        "
        [ngClass]="{ selected: selectedInsuranceCardIndex === j }"
        [insurance]="insurance"
        (click)="insuranceClicked(insurance); selectedInsuranceCardIndex = j"
        class="insurance-card"
      ></app-insurance-card>
    </div>
  </div>
</section>

<section id="clinics" class="clinics">
  <section id="clinics" class="clinics">
    <div
      class="clinics-container"
      *ngIf="clinicsByFilter.length === 0; else other_content"
    >
      <app-clinic-card
        *ngFor="let clinic of clinics"
        [clinic]="clinic"
        (click)="getClinicLocation(clinic)"
      >
      </app-clinic-card>
    </div>
    <ng-template #other_content>
      <div class="clinics-container">
        <app-clinic-card
          *ngFor="let clinic of clinicsByFilter"
          [clinic]="clinic"
          (click)="getClinicLocation(clinic)"
        >
        </app-clinic-card>
      </div>
    </ng-template>

    <!-- <app-button class="more-button" (click)="moreClinics()" i18n>
        Show more
      </app-button> -->
  </section>
  <div class="home-main">
    <ng-container *ngIf="recommendedOpen">
      <ng-container *ngIf="recommendedClinics.length > 0; else other_content">
        <app-recommended-clinic
          *ngFor="let clinic of recommendedClinics | slice : 0 : 1"
          [clinic]="clinic"
          (newItemEvent)="scrollItem($event)"
        ></app-recommended-clinic>
      </ng-container>
      <ng-template #other_content>
        <app-recommended-clinic
          [message]="'There is currently no recommended clinic'"
        ></app-recommended-clinic>
      </ng-template>
    </ng-container>
    <app-social [stories]="stories" [posts]="posts"> </app-social>
    <div class="home-main">
      <app-home-map
        id="homeMap"
        [clinicLocations]="clinicLocations"
        (mapToggled)="handleMapToggle($event)"
      >
      </app-home-map>
    </div>
  </div>
</section>
