<div class="post-container">
  <div class="post-head" (click)="goToClinic()">
    <img [src]="data.clinicImage" alt="doctor" class="avatar" />
    <div class="publisher-info">
      <h3 class="publisher-name">
        {{ data.clinicName }}
      </h3>
    </div>
    <span class="publish-date">{{
      days ? days + " days" : hours ? hours + " hours" : minutes + " minutes"
    }}</span>
  </div>
  <div class="post-body">
    <div class="image-container">
      <img *ngIf="data.imagePath" [src]="data.imagePath" alt="" />
      <video
        *ngIf="!data.imagePath"
        [src]="data.videoPath"
        controls
        muted
      ></video>
    </div>
  </div>
  <div class="post-tail">
    {{ data.text.slice(0, 150) }}{{ data.text.length > 150 ? "..." : "" }}
  </div>
</div>
