.review-card-container {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  transition: background-color 200ms linear;
}

.review-card-container:hover {
  background-color: var(--main-background);
}

.review-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review-body {
  width: 100%;
}

.reviewer-name {
  flex-basis: 60%;
}

.reviewer-avatar {
  height: 6rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 99rem;
  border: 1px solid var(--primary-color);
}

.review-rating {
  display: flex;
  justify-content: flex-end;
}

.review-content {
  grid-column: span 2;
}
