<div class="review-card-container">
  <div class="review-head">
    <div class="reviewer">
      <img [src]="review?.userImagePath" class="reviewer-avatar" alt="" />
      <h2 class="reviewer-name">{{ review?.userName }}</h2>
    </div>
    <star-rating
      class="review-rating"
      size="medium"
      staticColor="ok"
      [showHalfStars]="true"
      [readOnly]="true"
      [rating]="review?.rate ?? 0"
    ></star-rating>
  </div>
  <div class="review-body">
    <p class="review-content">
      {{ review?.content }}
    </p>
  </div>
</div>
