<div class="padded-content about-us-content">
  <article class="about-us-container">
    <div class="content">
      <h1 class="title" i18n>About us</h1>
      <p class="about-us-paragraph" i18n>
        In health care, Finding a Doctor and a Clinic might be a challenge for
        most people , We believe that each individual should be able to find
        what they are looking for . My community app and website will help
        people find a provider in their area that in-network with their
        insurance, shows information about clinks /providers and provide an
        overview of the clinic's services, locations, reviews and much more.
      </p>
    </div>
    <img
      class="logo"
      height="80"
      src="../assets/images/logo.png"
      alt="My Community"
    />
  </article>
</div>
