.sm .star {
  height: 1rem;
}

.md .star {
  height: 1.25rem;
}

.lg .star {
  height: 1.5rem;
}

.rating-container {
  padding: 0;
  position: relative;
  max-width: max-content;
  display: flex;
  gap: 0.125rem;
}

button {
  padding: 0;
}
