<div class="login-dialog-container">
  <div class="login-form-container">
    <h2 class="title" i18n>Log In</h2>
    <form class="login-form" [formGroup]="loginForm">
      <mat-form-field appearance="fill" class="input">
        <input
          matInput
          placeholder="Email"
          i18n-placeholder
          formControlName="myCommunityEm"
          autocomplete="nope"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <input
          placeholder="Password"
          i18n-placeholder
          matInput
          [type]="hide ? 'password' : 'text'"
          autocomplete="nope"
          (keydown.enter)="$event.preventDefault(); login()"
          formControlName="Password"
          required
        />
        <button
          mat-icon-button
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          class="visibility-button"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="wrongCred">
        <mat-error i18n>Incorrect Email or Password</mat-error>
      </div>
      <a class="password-reset-link" routerLink="/" i18n>Forgot Password?</a>
      <div class="login-button">
        <button (click)="login()" i18n>login</button>
      </div>

      <button class="sign-up-button" (click)="register()" i18n>Sign Up</button>
    </form>
  </div>
  <div class="login-img"><img src="../../../assets/images/login.png" /></div>
</div>
