<div class="login-dialog-container">
  <div class="login-form-container">
    <h2 class="title" i18n>Log In</h2>
    <form class="login-form" [formGroup]="loginFormGroup">
      <mat-form-field appearance="fill" class="input">
        <span class="error-response" *ngIf="errorResponse">
          {{ errorResponse }}
        </span>
        <input
          matInput
          placeholder="Email"
          i18n-placeholder
          formControlName="email"
          autocomplete="nope"
          required
        />
        <mat-error
          class="input-error"
          *ngIf="loginFormGroup.controls['email'].errors?.['required'] && submitted"
          >Email field is required</mat-error
        >
        <mat-error
          class="input-error"
          *ngIf="loginFormGroup.controls['email'].errors?.['email'] && submitted"
          >Invalid email format</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <input
          placeholder="Password"
          i18n-placeholder
          matInput
          [type]="hide ? 'password' : 'text'"
          autocomplete="nope"
          (keydown.enter)="$event.preventDefault(); login()"
          formControlName="password"
          required
        />
        <span
          mat-icon-button
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          class="visibility-button"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </span>
        <mat-error
          class="input-error"
          *ngIf="loginFormGroup.controls['password'].errors?.['required'] && submitted"
          >Password field is required</mat-error
        >
      </mat-form-field>
      <!-- <a class="password-reset-link" routerLink="/" i18n>Forgot Password?</a> -->
      <div class="login-button">
        <button (click)="login()" i18n>login</button>
      </div>

      <button class="sign-up-button" (click)="register()" i18n>Sign Up</button>
    </form>
  </div>
  <div class="login-img"><img src="assets/images/login.png" /></div>
</div>
