.login-dialog-container {
  min-height: 42rem;
  min-width: 42rem;
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
}

.login-form-container {
  padding: 2rem;
  background-color: var(--primary-color);
  color: var(--primary-content);
  display: grid;
  gap: 4rem;
  place-content: center;
  text-align: center;
}

.login-form {
  display: grid;
  place-content: center;
}

.login-form .mat-mdc-form-field {
  width: 20rem !important;
}

.login-form .mat-mdc-form-field input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3rem;
}

.input {
  position: relative;
}

.error-response {
  position: relative;
  top: -3.25rem;
}

.visibility-button {
  position: absolute;
  bottom: 50%;
  right: 1.25rem;
  transform: translateY(60%);
  color: var(--primary-darker-placeholder);
}

.password-reset-link {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.25rem;
}

.input.lg {
  min-width: 24rem;
}

.input.full {
  width: 100%;
}

.input.rounded {
  border: 1px solid var(--primary-color);
  border-radius: 99rem;
}

.login-button {
  margin-top: 2.5rem;
}

.login-button button {
  border: solid 2px var(--primary-color);
  text-transform: capitalize;
  background-color: var(--primary-content);
  padding: 0.625rem 2.5rem;
  color: var(--primary-color);
  border-radius: 99rem;
  transition: transform 200ms ease-in, color 400ms ease-in-out;
  margin-bottom: 0.5rem;
}

.login-button button:hover {
  color: var(--primary-darker-color);
  transform: scale(1.05);
}

.login-img {
  padding: 2rem;
}

.title {
  text-transform: uppercase;
  font-size: 2rem;
}

.sign-up-button {
  color: var(--primary-content);
}

.login-form .mat-mdc-form-field input {
  background-color: var(--main-background);
  padding: 1rem 2rem;
}

::ng-deep .login-form .mdc-text-field {
  padding: 0 !important;
}

::ng-deep .login-form .mdc-text-field--invalid input {
  border: 1px solid #f44336 !important;
}