.login-dialog-container {
  overflow-x: hidden;
  min-height: 42rem;
  background-color: var(--main-background);
  display: flex;
  min-width: min(80vw, 32rem);
}

.login-form-container {
  background-color: var(--primary-color);
  color: var(--primary-content);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 4rem;
  flex-basis: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input {
  position: relative;
  display: block;
  width: 70%;
  margin: 0 auto;
}

.error-response {
  font-size: 0.875rem;
  color: #f44336;
  position: relative;
  left: 1rem;
}

.visibility-button {
  position: absolute;
  bottom: 50%;
  right: 1.25rem;
  transform: translateY(60%);
  color: var(--primary-darker-placeholder);
  cursor: pointer;
}

.password-reset-link {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.25rem;
}

.login-button {
  margin-top: 2.5rem;
}

.login-button button {
  border: solid 2px var(--primary-color);
  text-transform: capitalize;
  background-color: var(--primary-content);
  padding: 0.625rem 2.5rem;
  color: var(--primary-color);
  border-radius: 99rem;
  transition: transform 200ms ease-in, color 400ms ease-in-out;
  margin-bottom: 0.5rem;
}

.login-button button:hover {
  color: var(--primary-darker-color);
  transform: scale(1.05);
}

.login-img {
  padding: 2rem;
  display: none;
  flex: 1 1 0px;
}

@media only screen and (min-width: 80rem) {
  .login-img {
    display: block;
  }
  .login-form-container {
    flex: 1 1 0px;
  }
}
.title {
  text-transform: uppercase;
  font-size: 2rem;
}

.sign-up-button {
  color: var(--primary-content);
}

.login-form .mat-mdc-form-field input {
  background-color: var(--main-background);
  padding: 1rem 2rem;
  border: none;
  border-radius: 99rem;
}

.input-error {
  position: relative;
  bottom: -1.75rem;
}

::ng-deep .login-form .mdc-text-field {
  padding: 0 !important;
}

::ng-deep .login-form .mdc-text-field--invalid input {
  border: 1px solid #f44336 !important;
}
